In [1]:
import sqlite3
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
conn = sqlite3.connect(r'core.db')

In [16]:
def pd_2_sql(df, table_name, conn):
    df.columns = list(map(lambda x: x.upper(), df.columns))
    table_exists = True
    query = f'''
        SELECT 
            *
        FROM
            {table_name}
        WHERE
            1 = 3
    '''
    
    try:
        conn.cursor().execute(query)
    except Exception as e:
        print(e)
        table_exists = False
    


    print(table_exists)

In [18]:
pd_2_sql(df, 'SECURITY', conn)

True

In [7]:
df.loc[len(df.index)] = ['AAPL', 'Tech', 'US', 'USD']

  TICKER SECTOR COUNTRY   FX
0   AAPL   Tech      US  USD

ValueError: Table 'SECURITY' already exists.